@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <img src="~/images/university.jpeg" />
    </div>
    <div class="col-md-4">
        <h2>Manage Students and Enrollments</h2>
        <p>Use the links above to adjust class and student information.</p>
        <img src="~/images/university2.jpeg" />
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>Contact the administrator if you encounter any issues.</p>
        <img src="~/images/university3.jpeg" />
    </div>
</div>